<div class="container py-5">
  <div class="p-5">
    <div class="text-center mb-5">
      <h2 class="card-title fw-bold">A Equipe</h2>
    </div>

    <div class="card mb-4 shadow-sm border-0">
      <div class="row g-0 align-items-center">
        <div class="col-md-2 d-flex justify-content-center p-3">
          <img src="../../../assets/img/equipe/avatar-1.png" alt="Foto do Desenvolvedor 1"
            class="img-fluid rounded-circle" style="width: 120px; height: 120px; object-fit: cover;">
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title">Fabrício S. Oliveira</h5>
            <p class="card-text mb-1"><strong>Contato:</strong> 628778&#64;univem.edu.br</p>
            <p class="card-text">Desenvolvedor Front-End apaixonado por criar experiências digitais incríveis e
              funcionais.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Card Desenvolvedor 2 -->
    <div class="card shadow-sm border-0">
      <div class="row g-0 align-items-center">
        <div class="col-md-2 d-flex justify-content-center p-3">
          <img src="../../../assets/img/equipe/avatar-2.png" alt="Foto do Desenvolvedor 2" class="img-fluid rounded-circle"
            style="width: 120px; height: 120px; object-fit: cover;">
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title">Rafaela A. P. Silvério</h5>
            <p class="card-text mb-1"><strong>Contato:</strong> 630675&#64;univem.edu.br</p>
            <p class="card-text">Desenvolvedor Back-End focado em soluções eficientes, seguras e escaláveis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
