
<app-sidebar></app-sidebar>

<!-- Conteúdo principal -->
<div class="container-fluid py-5">
  <div class="container mt-4 d-flex flex-column align-items-center">
    <h2>Bem-vindo, Nome Usuário!</h2>
    <p class="text-muted">Aqui você pode gerenciar seus agendamentos, serviços e configurações.</p>

    <div class="row row-cols-2">
      <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Meus Agendamentos</h5>
            <p class="card-text">Veja seus agendamentos recentes e futuros.</p>
            <a href="#" class="btn btn-primary">Ver Agendamentos</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Cadastrar meu serviço</h5>
            <p class="card-text">Cadastre e gerencie os serviços que você oferece.</p>
            <a class="btn btn-primary" (click)="paginaCadastrarServico()">Gerenciar Serviços</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Configurações da Conta</h5>
            <p class="card-text">Atualize seus dados pessoais, endereço e preferências.</p>
            <a href="#" class="btn btn-secondary">Ir para Configurações</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
