<div class="container my-5">
  <div class="d-flex flex-column">
    <h2 class="text-center mb-4">Catálogo de Serviços</h2>
    <div class="descricao-paragrafo">
      <p class="text-center text-muted mb-4 px-3">
        Explore a variedade de serviços oferecidos por profissionais autônomos.
        Encontre o que você precisa com facilidade e agende diretamente pela plataforma.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 g-4" *ngFor="let servico of servicos">
      <app-cards-catalogo-servicos
        [imagem]="servico.imagem"
        [titulo]="servico.titulo"
        [descricao]="servico.descricao"
        [preco]="servico.preco"
        [prestador]="servico.prestador">
      </app-cards-catalogo-servicos>
    </div>
  </div>
</div>
