<div class="container my-5">
  <div class="d-flex flex-column">
    <h2 class="text-center mb-4">Catálogo de Serviços</h2>
    <div class="descricao-paragrafo">
      <p class="text-center text-muted mb-4 px-3">
        Explore a variedade de serviços oferecidos por profissionais autônomos.
        Encontre o que você precisa com facilidade e agende diretamente pela plataforma.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 g-4" *ngFor="let servico of servicos">
      <div class="service-card" (click)="openModal(servico)">
        <app-cards-catalogo-servicos
          [image]="servico.image"
          [name]="servico.name"
          [description]="servico.description"
          [price]="servico.price"
          [provider]="servico.provider"
          [availableDays]="servico.availableDays"
          [dailyHours]="servico.dailyHours"
          [duration]="servico.duration"
          [attendanceType]="servico.attendanceType"
          [location]="servico.location"
          (agendar)="agendarServico(servico)">
        </app-cards-catalogo-servicos>
      </div>
    </div>

    <app-servico-detalhes-modal *ngIf="modalVisivel"
      [servico]="selectedServico" (close)="closeModal()"
      (agendar)="agendarServico(selectedServico)">
    </app-servico-detalhes-modal>
  </div>
</div>
