<div class="flex-row flex-wrap">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/logo-acheiaki.svg" alt="logo" width="30" height="30">
      </a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <!-- Adicionando a classe 'nav-link' para garantir que o cursor se torne uma mãozinha -->
            <a class="nav-link" (click)="paginaCatalogoServicos()">Catálogo de serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="paginaSobre()">Sobre</a>
          </li>
        </ul>

        <form class="flex col-4" role="search">
          <input class="container-fluid form-control" type="search" placeholder="Pesquise por serviços..." aria-label="Search">
          <button class="btn btn-outline-success gap-2" type="submit"><i class="bi bi-search"></i></button>
        </form>

        <div class="d-flex gap-2">
          <button type="button" class="btn btn-outline-success" (click)="paginaLogin()"><i class="bi bi-door-open"></i> Login</button>
          <button type="button" class="btn btn-light btn-outline-warning" (click)="paginaCadastrarServicos()"><i class="bi bi-person-plus"></i> Cadastrar serviços</button>
        </div>
      </div>
    </div>
  </nav>
</div>
