.bg-gradiente {
  background: linear-gradient(135deg, #7d3c98, #00f2fe);
}

.input-group .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.senha-toggle:hover {
  color: black;
  background-color: #E5E4E2
}
