<div class="d-flex justify-content-center align-items-center vh-100 bg-gradiente">
  <div class="card p-0 shadow-lg d-flex flex-row" style="max-width: 900px; width: 100%; height: 500px;">
    <!-- Área da imagem -->
    <div class="d-flex align-items-center justify-content-center"
      style="width: 50%; overflow: hidden; border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem;">
      <img src="../../../assets/img/login/login-img.jpg" alt="Imagem de Login"
        style="width: 100%; height: 100%; object-fit: cover;">
    </div>

    <!-- Área do formulário -->
    <div class="p-4 d-flex flex-column justify-content-center" style="width: 50%;">
      <h2 class="text-center mb-4">Acesse sua conta</h2>
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Endereço de e-mail</label>
          <input type="email" id="email" class="form-control" placeholder="Digite seu e-mail">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" id="password" class="form-control" placeholder="Digite sua senha">
        </div>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
        <div class="text-center mt-3">
          <a href="#" class="text-decoration-none">Esqueceu sua senha?</a> <br>
          <span class="fw-bold">Não tem uma conta? <a href="#" class="text-decoration-none">Cadastre-se</a></span>
        </div>
        <div class="text-center mt-3 text-muted">
          <small>Termos de uso. Política de privacidade</small>
        </div>
      </form>
    </div>
  </div>
</div>
