<div class="container my-5">
  <!-- Card sem borda -->
  <div class="card border-0 shadow-0">

    <!-- Título -->
    <div class="text-center mb-5">
      <h2 class="card-title">Sobre a Plataforma</h2>
    </div>

    <!-- Conteúdo texto + imagem lado a lado -->
    <div class="row align-items-center">

      <!-- Texto -->
      <div class="col-md-7">
        <div class="card-body">
          <p class="card-text fs-5">
            O <strong>Agenday</strong> é a plataforma ideal para conectar quem oferece serviços especializados com quem precisa contratá-los.
            <br>
            Aqui, usuários podem pesquisar por diferentes tipos de serviços, comparar opções e contratar profissionais de forma rápida e segura.
            Pessoas autônomas têm a oportunidade de cadastrar seus serviços, ampliar sua visibilidade e conquistar novos clientes.
            <br>
            Nosso objetivo é simplificar o processo de contratação de serviços, proporcionando praticidade, confiança e valorização do trabalho especializado.
          </p>
        </div>
      </div>

      <div class="col-md-5 text-center">
        <img src="../../../assets/img/devs-img/mulher-pesquisando.png" alt="Imagem de Autônomos" style="width: 100%; max-width: 400px; height: auto;">
      </div>

    </div>

  </div>
</div>
