<div style="background: url('../../../assets/img/tela-sobre/background.jpg') center center / cover no-repeat; min-height: 100vh; width: 100%;">

  <div class="container py-5">
    <div class="p-5">

      <div class="text-center mb-5">
        <h2 class="card-title fw-bold">Sobre a Plataforma</h2>
      </div>

      <div class="row align-items-center">
        <div class="col-md-7">
          <div class="card-body">
            <p class="card-text fs-5 mb-4">
              O <strong>Agenday</strong> é a plataforma ideal para conectar quem oferece serviços especializados com
              quem precisa contratá-los.
            </p>
            <p class="card-text fs-5 mb-4">
              Aqui, usuários podem pesquisar por diferentes tipos de serviços, comparar opções e contratar profissionais
              de forma rápida e segura.
              Pessoas autônomas têm a oportunidade de cadastrar seus serviços, ampliar sua visibilidade e conquistar
              novos clientes.
            </p>
            <p class="card-text fs-5 mb-0">
              Nosso objetivo é simplificar o processo de contratação de serviços, proporcionando praticidade, confiança
              e valorização do trabalho especializado.
            </p>
          </div>
        </div>

        <div class="col-md-5 text-center">
          <img src="../../../assets/img/tela-sobre/mulher-pesquisando.png" alt="Imagem Mulher Pesquisando"
            style="width: 100%; max-width: 400px; height: auto;">
        </div>
      </div>

    </div>
  </div>
</div>
