<div class="d-flex justify-content-center align-items-center min-vh-100 py-5 bg-gradiente">
  <div class="card p-0 shadow-sm d-flex flex-row" style="max-width: 900px; width: 100%; height: 500px; background-color: rgba(255, 255, 255, 0.95);">

    <!-- Área da imagem -->
    <div class="d-flex align-items-center justify-content-center"
      style="width: 40%; overflow: hidden; border-top-left-radius: 0.3rem; border-bottom-left-radius: 0.3rem;">
      <img src="../../../assets/img/tela-cadastro/cadastro.jpg" alt="Imagem de Cadastro"
        style="width: 100%; height: 100%; object-fit: cover;">
    </div>

    <!-- Área do formulário -->
    <div class="card-body d-flex flex-column justify-content-center" style="width: 60%;">
      <h2 class="text-center mb-4" style="font-size: 2rem;">Inscrever-se</h2>

      <form [formGroup]="formUsuario" (ngSubmit)="cadastrarUsuario()" class="d-flex flex-column flex-grow-1 justify-content-between">

        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" id="nome" class="form-control" placeholder="Nome completo" formControlName="nome">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" id="email" class="form-control" placeholder="e-mail" formControlName="email">
          <div *ngIf="formUsuario.get('email')?.touched && formUsuario.get('email')?.invalid" class="text-danger small">
            Email inválido.
          </div>
        </div>

        <div class="mb-3">
          <label for="senha" class="form-label">Senha</label>
          <div class="input-group">
            <input [type]="mostrarSenha ? 'text' : 'password'" id="senha" class="form-control input-senha" formControlName="senha">
            <button class="btn btn-outline-success senha-toggle" type="button" (click)="toggleSenha()">
              <i class="bi" [ngClass]="mostrarSenha ? 'bi-eye-slash' : 'bi-eye'" role="button"></i>
            </button>
          </div>
        </div>

        <div class="mb-4">
          <label for="telefone" class="form-label">Telefone</label>
          <input type="tel" id="telefone" class="form-control" formControlName="telefone" placeholder="(00) 99999-9999">
        </div>

        <div>
          <button type="submit" class="btn btn-primary w-100">Cadastrar-me</button>
        </div>

      </form>
    </div>
  </div>
</div>
