.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal-content {
  width: 100%;
  max-width: 700px;
  max-height: 90vh;
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-body {
  overflow-y: auto;
  flex: 1;
}

.modal-header {
  background-color: #0B5ED7;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
}
