<footer class="pt-4 my-md-5 pt-md-5 border-top bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2024 Minha Empresa</small>
      </div>
      <div class="col-6 col-md">
        <h5>Links</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Sobre nós</a></li>
          <li><a class="text-muted" href="#">Contato</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Suporte</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">FAQ</a></li>
          <li><a class="text-muted" href="#">Política de Privacidade</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
