<footer class="pt-4 border-top bg-light mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md">
        <h5>Links</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="team">Sobre a equipe</a></li>
          <li><a class="text-muted page-faq" (click)="paginaFaq()">FAQ</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom text-center py-3">
      <small class="text-muted">&copy; Equipe agenday 2025</small>
    </div>
  </div>
</footer>
